@font-face {
  font-family: "Iosevka";
  src: url(/cloud-scout/fonts/iosevkanerdfontmono.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "JetBrains";
  src: url(/cloud-scout/fonts/jetbrainsnerdFontmono.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "JetBrains", monospace;
  font-weight: normal;
  color: white;
}

body {
  background: url(/cloud-scout/assets/bg.jpg);
  background-color: rgba(6, 8, 38, 0.96);
  width: 100%;
  height: 100dvh;
  background-size: cover;
  background-position: center;
  display: flex;
  gap: 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 60px;
}

body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: auto;
  background: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(0px);
}

/* ! PRE LOADER START */

.preloader.fade {
  opacity: 0;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(27, 30, 75, 0.13);
  backdrop-filter: blur(100px);
  z-index: 69;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: rgba(108, 63, 159, 1);
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: rgba(255, 77, 154, 1);
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: rgba(255, 120, 74, 1);
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* ! PRE LOADER END */
/* ! WELCOME CONTAINER START */

.welcome-container {
  border: solid;
  border-radius: 3px;
  width: 300px;
  z-index: 1;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.15),
    rgba(255, 255, 255, 0.15)
  );
  backdrop-filter: blur(100px);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.welcome-container > h2 {
  font-family: "Iosevka", monospace;
  font-size: 18px;
}

hr {
  border: 0;
  border-radius: 100px;
  height: 3px;
  width: 69px;
  background: rgba(255, 255, 255, 0.15);
  margin: 12px 0px 4px 0px;
}

.welcome-container > p {
  font-size: 13px;
  line-height: 1.5;
}

/* ! WELCOME CONTAINER END */
/* ! MAIN CONTAINER START */

.main-container {
  border: solid;
  border-radius: 3px;
  width: 300px;
  height: 496px;
  z-index: 1;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.15),
    rgba(255, 255, 255, 0.15)
  );
  backdrop-filter: blur(100px);
  padding: 20px;
}

/* ! MAIN CONTAINER END */
/* ! INPUT CONTAINER START */

.input-container {
  position: relative;
  margin-bottom: 20px;
}

.city-input {
  width: 100%;
  padding: 10px 16px;
  border-radius: 3px;
  border: 3px solid transparent;
  background: rgba(0, 0, 0, 0.15);
  outline: none;
  transition: 0.25s border;
  padding-right: 38px;
  font-family: "Iosevka", monospace;
}

.city-input:focus {
  border: 3px solid rgba(0, 0, 0, 0.15);
}

.city-input::placeholder {
  color: rgba(255, 255, 255, 0.75);
}

.search-btn {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  display: flex;
  border: none;
  cursor: pointer;
}

/* ! INPUT CONTAINER END */
/* ! WEATHER INFO START */

.weather-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.location-date-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.location {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 6px;
}

.location > h4 {
  font-family: "Iosevka", monospace;
}

.weather-summary-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.weather-summary-img {
  width: 120px;
  height: 120px;
}

.weather-summary-info {
  text-align: end;
}

.weather-summary-info h1 {
  font-family: "Iosevka", monospace;
}

.weather-summary-info h3 {
  font-family: "Iosevka", monospace;
}

/* ! WEATHER INFO END */
/* ! WEATHER CONDITIONS START */

.weather-conditions-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
}

.condition-item {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 6px;
}

.condition-item h5 {
  font-family: "Iosevka", monospace;
}

.condition-item i {
  font-size: 23px;
}

/* ! WEATHER CONDITIONS END */
/* ! FORECAST CONDITIONS START */

.forecast-items-container {
  display: flex;
  gap: 15px;
  overflow: auto;
  padding-bottom: 15px;
}

.forecast-items-container::-webkit-scrollbar {
  height: 8px;
}

.forecast-items-container::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 500px;
}

.forecast-items-container::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.15);
  border-radius: 500px;
}

.forecast-item {
  min-width: 75px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 10px;
  align-items: center;
  align-content: center;
  border-radius: 3px;
  transition: 0.3s background;
}

.forecast-item:hover {
  background: rgba(255, 255, 255, 0.15);
}

.forecast-item-img {
  width: 40px;
  height: 40px;
}

/* ! FORECAST CONDITIONS END */
/* ! MESSAGE START */

.section-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 25px;
  margin-top: 25%;
}

.section-message img {
  height: 180px;
  width: fit-content;
}

.section-message h1 {
  font-size: 20px;
  padding-bottom: 6px;
}

.section-message h4 {
  font-family: "Iosevka", monospace;
  line-height: 1.2;
  font-size: 14px;
}

/* ! MESSAGE END */
/* ! CONCLUSION CONTAINER START */

.conclusion-container {
  border: solid;
  border-radius: 3px;
  width: 300px;
  z-index: 1;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.15),
    rgba(255, 255, 255, 0.15)
  );
  backdrop-filter: blur(100px);
  padding: 12px 12px 14px 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.conclusion-container > p {
  font-size: 12px;
  line-height: 1.5;
}

#signature, #github {
  text-decoration: none;
}

#signature:hover {
  color: rgba(210, 255, 114, 1);
}

#github:hover {
  color: rgba(255, 219, 0, 1);
}

/* ! CONCLUSION CONTAINER END */
/* ! RESPONSIVE START */

@media (max-width: 480px) {
  body {
    padding: 60px 20px;
  }
}

/* ! RESPONSIVE END */
